.test_container{
    position: relative;
    width: 100%;
    height: 100%;
    background: #F2F2F2;
    padding: 90px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.test_container p{
    font-weight: 100;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    color: #141414;
}
.test_container .testinomial_container{
    position: relative;
    width: 100%;
    height: 100%;
    background: #F2F2F2;
    padding: 100px 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.test_container .testinomial_container .testinomial{
    position: relative;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    margin: 0px 140px;
    border: 10px solid #141414;
}
.testinomial p{
    font-weight: 100;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    text-transform: capitalize;
    color: #141414;
    margin-bottom: 25px;
}
.testinomial h2{
    font-weight: 200;
    font-size: 30px;
    line-height: 94.87%;
    text-align: center;
    text-transform: capitalize;
    color: #141414;
}
.testinomial img{
    margin-top: 30px;
}