@import url('./geoslab703_lt_bt/GeoSlab703LtBTLightItalic.ttf');
@font-face {
    font-family: 'GeoSlab703 Lt BT';
    src: url('./geoslab703_lt_bt/GEO703L.ttf');
}
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'GeoSlab703 Lt BT';
    scroll-behavior: smooth;
}
body{
    background: #EAEAEA;
    background-image: url("../src/assets/Noisebg.svg");
}
a{
    color: unset;
    text-decoration: none;
}
/* Navbar */
.navbar{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5rem;
    z-index: 999;
    transform: translate3d(0,-200%,0);
    transition: all 0.5s ease-in-out;
}
.navbar.trans{
    position: fixed;
    transform: translateZ(0);
    transition: transform 0.5s ease-in-out;
    backdrop-filter: blur(50px);
    background: rgba(255, 255, 255, 0.2);
}
.navbar .navbar_logo{
    font-size: 2.5rem;
    font-weight: 600;
    color: #000;
}
.navbar .navbar_active{
    display: none;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 100%;
}
.navbar_active.add{
    display: flex;
}
.navbar .navbar_menu{
    margin-left: 32%;
}
.navbar .navbar_menu .navbar_links{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0 10px;
    transition: all 0.3s ease-in;
}
.navbar .navbar_menu .navbar_links li{
    margin: 0 15px;
}
.navbar button{
    padding: 10px 20px;
    border: 2px solid #000;
    background: #000;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
}
.navbar button:hover{
    background: rgba(255, 255, 255, 0.2);
    color: #000;
    border: 2px solid #000;
}
.navbar .navbar_toggle{
    margin-left: 2rem;
    display: none;
    position: relative;
}
.navbar_toggle svg{
    cursor: pointer;
    size: 2rem;
}
.navbar_toggle .navbar_menu_mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0 10px;
    background: #EAEAEA;
    position: absolute;
}
.navbar_toggle .navbar_menu_mobile li{
    margin: 1rem 15px;
}
@media screen and (max-width: 1050px){
    .navbar .navbar_menu{
        margin-left: 20%;
    }
}
@media screen and (max-width: 768px){
    .navbar{
        padding: 2rem 2rem;
    }
    .navbar .navbar_menu{
        display: none;
    }
    .navbar .navbar_active{
        display: none;
    }
}
@media screen and (max-width:550px) {
    .navbar .navbar_logo img{
        width: 54.1px;
        height: 16px;
    }
    .navbar .navbar_toggle{
        display: flex;
    }
    .navbar_toggle .navbar_menu_mobile{
        display: flex;
    }
}


/* Hero */
.hero{
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110vh;
    background: #EAEAEA;
    z-index: 0;
}
.hero .hero_container{
    position: absolute;
    top: 0;
    width: 100%;
    height:120%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.hero .hero_container .hero_head{  
    position: absolute;
    top: 60px;
    z-index: 0;
    font-style: normal;
    line-height: 94.87%;
    text-align: center;
    text-transform: capitalize;
    color: #231F20;
}
.hero .hero_container .hero_head p{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 2rem;
}
.hero .hero_container .hero_head h1{
    font-size: 60px;
    font-weight: 700;
}
.hero .hero_container img{
    position: absolute;
    top: 150px;
    left: 36%;
    height: 150px;
    z-index: 2;
}
.hero .hero_container .hero_video {
    position: absolute;
    top: 215px;
    z-index: 1;
}
.hero .hero_container .scroll{
    position: absolute;
    bottom: 39%;
    right:0%;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.hero .hero_container .hero_text{
    position: absolute;
    top: 730px;
    left: 50%;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: #141414;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.hero .hero_container button{
    position: absolute;
    top: 820px;
    left: 45%;
    padding: 10px 20px;
    border: 2px solid #141414;
    background: #141414;
    color: #EAEAEA;
    font-size:20px;
    cursor: pointer;
    z-index: 2;
    transition: all 0.2s ease;
}
.hero .hero_container button:hover{
    background: rgba(255, 255, 255, 0.2);
    color: #000;
    border: 2px solid #000;
}
@media screen and (max-width: 1050px) {
    .hero .hero_container img{
        left: 30%;
    }
    .hero .hero_container button{
        font-size: 0.8rem;
    }
}
@media (max-width: 768px){
    .hero .hero_container .hero_head{
        top: 50px;
    }
    .hero .hero_container img{
        left:30%;
    }
    .hero .hero_container .hero_text{
        font-size: 15px;
        line-height: 19px;
    }
    .hero .hero_container button{
        font-size: 0.8rem;
        left: 43%;
    }
}
@media screen and (max-width: 550px) {
    .hero .hero_container .hero_head p{
        font-size: 20px;
    }
    .hero .hero_container .hero_head h1{
        font-size: 40px;
    }
    .hero .hero_container .hero_text{
        font-size: 15px;
        line-height: 19px;
    }
    .hero .hero_container img{
        height: 100px;
        width: 100px;
        left: 20%;
        top: 140px;
    }
    .hero .hero_container .hero_video {
        width: 172px;
        height: 294px;
        top: 190px;
    }
    .hero .hero_container .scroll{
        display: none;
    }
    .hero .hero_container .hero_text{
        width: 330px;
        top: 600px;
        line-height: 19px;
    }
    .hero .hero_container button{
        font-size: 0.8rem;
        left: 37%;
        top: 700px;
    }
}

/* About */
.container{
    position: relative;
    display:flex;
    align-items:center;
    justify-content:center;
    height: 100vh;
    background: #EAEAEA;
}
.container .about_section{
    position: absolute;
    left: 0%;
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.container .about_section .about_p{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 94.87%;
    text-align: center;
    text-transform: capitalize;
    color: #231F20;
    margin: 1.5rem 0;
}
.container .about_section .about_media{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.container .about_section .about_media img{
    width: 210px;
    height: 331px;
    margin: 1rem 0;
}
.container .about_section a{
    width: 151px;
    height: 22px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 94.87%;
    text-align: center;
    text-transform: capitalize;
    color: #231F20;
    z-index: 2;
}
.container .about_section a:hover{
    color: #141414;
    font-weight: 900; 
    transition: all 0.2s ease;
}
.about_section a::after{
    content: "";
    position: absolute;
    width: 6%;
    height: 1px;
    background: #141414;
    top: 80%;
    left: 47%;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.about_section a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
@media (max-width: 768px){
    .container .about_section .about_p{
        font-size: 20px;
    }
    .container .about_section .about_media img{
        width: 90%;
        height: 220px;
    }
    .container .about_section a{
        font-size: 15px;
    }
}
/* Banner */
.banner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120vh;
    background: #EAEAEA;
    margin-top: 5rem;
}
.banner .contents{
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
}
.banner .contents img{
    width: 100%;
    height: 100%;
    z-index: 1;
}
.banner .contents p{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: capitalize;
    color: #141414;
}
.banner .contents h2{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 55px;
    line-height: 94.87%;
    text-align: center;
    text-transform: capitalize;
    color: #141414;
    margin: 1rem 0;
}
.banner .contents button{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border: 2px solid #141414;
    background: #141414;
    color: #EAEAEA;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
}
.banner .contents button:hover{
    background: rgba(255, 255, 255, 0.2);
    color: #141414;
    border: 2px solid #141414;
}
@media screen and (max-width: 1024px) {
    .banner .contents{
        width: 100;
        height: 100%;
    }
    .banner .contents img{
        width: 50%;
        height: 100%;
        z-index: 1;
    }
    .banner .contents p{
        font-weight: 400;
        font-size: 20px;
        line-height: 94.87%;
    }
    .banner .contents h2{
        font-weight: 700;
        font-size: 40px;
        line-height: 94.87%;
    }
    .banner .contents button{
        top: 55%;
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 768px){
    .banner{
        margin-top: 200px;
        display: block;
    }
    .banner .contents p{
        font-weight: 400;
        font-size: 30px;
        line-height: 94.87%;
    }
    .banner .contents h2{
        font-weight: 700;
        font-size: 40px;
        line-height: 94.87%;
    }
    .banner .contents button{
        top: 55%;
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 550px) {
    .banner .contents{
        width: 100%;
        height: 100%;
    }
    .banner .contents img{
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .banner .contents p{
        font-weight: 400;
        font-size: 20px;
        line-height: 94.87%;
    }
    .banner .contents h2{
        font-weight: 700;
        font-size: 29px;
        line-height: 94.87%;
    }
    .banner .contents button{
        top: 55%;
        font-size: 0.8rem;
    }
}

/* QNA */
.qna_container{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    height: 100vh;
    background: #EAEAEA;
}
.qna_container h1{
    font-family: 'GeoSlab703 Md BT';
    font-weight: 700;
    font-size: 60px;
    line-height: 94.87%;
    text-align: center;
    text-transform: capitalize;
    color: #141414;
    margin: 2rem 2rem;
}
.qna_container .faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	margin: 15px 0;
    cursor: pointer;
}
.qna_container .faq .faq-question {
	position: relative;
	font-family: 'GeoSlab703 Md BT';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #141414;
	transition: all 0.2s ease;
}
.qna_container .faq .faq-answer {
    font-weight: 300;
    font-size: 14px;
    line-height: 29px;
    text-align: center;
    color: #141414;
	opacity: 0;
	max-height: 0;
	overflow-y: hidden;
	transition: all 0.2s ease-out;
}
.qna_container .faq.open .faq-question {
    font-family: 'GeoSlab703 Md BT';
    font-weight: 500;
	margin-bottom: 15px;
}
.qna_container .faq.open .faq-answer {
	max-height: 1000px;
	opacity: 1;
}
@media screen and (max-width: 768px){
    .qna_container h1{
        font-weight: 700;
        font-size: 36px;
        line-height: 94.87%;
    }
    .qna_container .faq .faq-question {
        font-size: 13px;
    }
    .qna_container .faq .faq-answer {
        font-size: 12px;
    }
}
@media screen and (max-width: 550px) {
    .qna_container h1{
        font-weight: 700;
        font-size: 30px;
        line-height: 94.87%;
    }
    .qna_container .faq .faq-question {
        font-size: 12px;
    }
    .qna_container .faq .faq-answer {
        font-size: 11px;
    }
}

/* Footer */
.footer{
    position: relative;
    height: 45vh;
    background: #141414;
}
.footer .footer_container{
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.footer .footer_container ul{
    position: absolute;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    list-style: none;
}
.footer .footer_container ul li{
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;  
    text-align: center;
    text-transform: capitalize;
    margin: 0 1rem;
    color: #EAEAEA;
}
.footer .footer_container .footer_socials{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.footer .footer_container .footer_socials .icons{
    margin: 0 1rem;
}
.footer .footer_container .footer_socials .icons a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.footer .footer_container .footer_socials .icons a:hover{
    background: rgba(217, 217, 217, 0.2);
}
.footer .footer_container .footer_brand{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding:2rem 5rem;
}
.footer .footer_container .footer_brand a{
    font-size: 2.5rem;
    font-weight: 600;
    color: #EAEAEA;
}
.footer .footer_container .footer_brand p{
    position: absolute;
    bottom: 40%;
    left: 43.5%;
    font-family: 'Geometric Slabserif 703 Light';
    font-weight: 100;
    font-size: 10px;
    line-height: 20px;  
    text-align: center;
    text-transform: capitalize;
    color: #EAEAEA;
    opacity: 0.5;
}
.footer .footer_container .footer_brand button{
    padding: 10px 20px;
    border: 2px solid #EAEAEA;
    background: #EAEAEA;
    color: #141414;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
}
.footer .footer_container .footer_brand button:hover{
    background: #141414;
    color: #EAEAEA;
    border: 2px solid #EAEAEA;
}
@media (max-width: 550px){
    .footer{
        height: 55vh;
    }
    .banner .contents{
        left: 10%;
        width: 80%;
    }
    .footer .footer_container ul{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 30%;
        z-index: 1;
    }
    .footer .footer_container .footer_socials{
        position: absolute;
        bottom: 5%;
        left: 20%;
        margin-bottom: 2rem;
        z-index: 1;
    }
    .footer .footer_container .footer_brand{
        position: absolute;
        top: 0;
        flex-direction: column;
        padding: 2rem 1rem;
    }
    .footer .footer_container .footer_brand p{
        margin-top: 1rem;
        bottom: 5%;
        left:25% ;
    }
    .footer .footer_container .footer_brand a{
        margin-top: 1rem;
    }
    .footer .footer_container .footer_brand button{
        position: absolute;
        bottom: 30%;
        left: 34%;
        margin-top: 1rem;
    }
}