.business{
    position: relative;
    background: #EAEAEA;
}
.business_container{
    position: relative;
    display:flex;
    flex-direction: column;
    height: 100vh;
}
.business_container .business_section{
    display: grid;
    grid-template-columns: 60% 40%;
    height: 100%;
    transition: 1s all ease;
}
.reveal{
    position: relative;
    transform: translateY(300px);
    opacity: 0;
    transition: 0.5s all ease-out;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
.business_container .business_section .business_section_left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20%;    
    background:#141414;
    height: 100%;
}
.business_container .business_section .business_section_left h2{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 94.87%;
    text-align: center;
    text-transform: capitalize;
    color: #EAEAEA;
    padding: 2rem;
}
.business_container .business_section .business_section_left p{
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    color: #EAEAEA;
}
.business_container .business_section .business_section_left button{
    padding: 10px 20px;
    border: none;
    background: #EAEAEA;
    color: #141414;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 2rem;
    transition: all 0.2s ease;
}
.business_container .business_section .business_section_left button:hover{
    background:#141414;
    color: #EAEAEA;
    border: 1px solid #EAEAEA;
}
.business_section .business_section_right{

    background-color: #D8D3CF;
    height: 100%;
}
.business_section .business_section_right img{
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 1024px) {
    .business_container .business_section .business_section_left{
        padding: 10%;
        height: 70%;
    }
    .business_container .business_section .business_section_left h2{
        font-size: 30px;
    }
    .business_container .business_section .business_section_left p{
        font-size: 16px;
    }
    .business_container .business_section .business_section_right{
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .business_container .business_section .business_section_right img{
        width: 100%;
        height: 70%;
    }
}
@media screen and (max-width: 768px){
    .business_container .business_section .business_section_left{
        padding: 10%;
    }
    .business_container .business_section .business_section_left h2{
        font-size: 30px;
    }
    .business_container .business_section .business_section_left p{
        font-size: 16px;
    }
    .business_section .business_section_right{
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .business_container .business_section .business_section_right img{
        width: 100%;
        height: 70%;
    }
}
@media screen and (max-width: 425px){
    .business_container .business_section{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .business_container.business_container .business_section .business_section_left{
        padding: 10%;
        height: 100%;
    }
    .business_container .business_section .business_section_left h2{
        font-size: 30px;
    }
    .business_container .business_section .business_section_left p{
        font-size: 16px;
    }
    .business_container .business_section .business_section_right{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .business_container .business_section .business_section_right img{
        width: 100%;
        height: 100%;
    }
}

/* QNA */
.qna_container{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    height: 100vh;
    background: #EAEAEA;
}
.qna_container h1{
    font-weight: 500;
    font-size: 60px;
    line-height: 94.87%;
    text-align: center;
    text-transform: capitalize;
    color: #141414;
    margin-bottom: 2rem;
}
.qna_container .faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	margin: 15px 0;
    cursor: pointer;
}

.qna_container .faq .faq-question {
	position: relative;
	font-weight: 300;
    font-size: 15px;
    line-height: 29px;
    text-align: center;
    color: #141414;
	transition: all 0.2s ease;
}
.qna_container .faq .faq-answer {
    font-weight: 200;
    font-size: 14px;
    line-height: 29px;
    text-align: center;
    color: #141414;
	opacity: 0;
	max-height: 0;
	overflow-y: hidden;
	transition: all 0.2s ease-out;
}
.qna_container .faq.open .faq-question {
	margin-bottom: 15px;
}
.qna_container .faq.open .faq-answer {
	max-height: 1000px;
	opacity: 1;
}
@media screen and (max-width: 768px){
    .qna_container h1{
        font-weight: 700;
        font-size: 36px;
        line-height: 94.87%;
    }
    .qna_container .faq .faq-question {
        font-size: 13px;
    }
    .qna_container .faq .faq-answer {
        font-size: 12px;
    }
}
@media screen and (max-width: 550px) {
    .qna_container h1{
        font-weight: 700;
        font-size: 30px;
        line-height: 94.87%;
    }
    .qna_container .faq .faq-question {
        font-size: 12px;
    }
    .qna_container .faq .faq-answer {
        font-size: 11px;
    }
}